*, ::after, ::before{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
  }
header img {
    width: 80px;
    height: 80px;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
.section-1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.section-1 h2 {
    margin-top: 0;
}
  
#mon-formulaire input[type="text"],
#mon-formulaire input[type="date"],
#mon-formulaire input[type="checkbox"],
#mon-formulaire button {
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
#mon-formulaire button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
#mon-formulaire button:hover {
    background-color: #0056b3;
}
  
.section-2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.section-2 h2 {
    margin-top: 0;
}
  
.ligne-tab {
    list-style-type: none;
    padding: 0;
}
  
.ligne-tab li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    animation: slideIn 0.5s forwards;
}
  
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.ligne-tab li button.supprimer {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
  
.ligne-tab li button.supprimer:hover {
    background-color: #c82333;
}
  
.ligne-tab li div {
    font-size: 16px;
}
  
.ligne-tab li div:not(:last-child) {
    margin-bottom: 5px;
}
  
.ligne-tab li div:last-child {
    font-style: italic;
}
/* Style pour les éléments de tâche */
.task-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le nom de la tâche */
.task-name {
    display: inline
    ;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  /* Style pour la date de fin */
.task-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
  }
  
  /* Style pour la priorité */
.task-priority {
    font-size: 14px;
    color: #555;
  }
  
  /* Style pour le bouton de suppression */
  .supprimer {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.supprimer:hover {
    background-color: #c82333;
  }
