*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 80px;
    height: 80px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.section-1,
.section-2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-1 h2,
.section-2 h2 {
    margin-top: 0;
}

#mon-formulaire input[type="text"],
#mon-formulaire input[type="date"],
#mon-formulaire input[type="checkbox"],
#mon-formulaire button {
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
}

#mon-formulaire button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#mon-formulaire button:hover {
    background-color: #0056b3;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    color: black;
    overflow-x: auto; /* Ajout d'un défilement horizontal en cas de dépassement de la largeur de l'écran */
}

.styled-table th{
    background-color: #007bff;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.styled-table td {   
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Ajout de styles spécifiques pour les petites tailles d'écran */
@media only screen and (max-width: 600px) {
    .styled-table th,
    .styled-table td {
        padding: 5px;
        word-wrap: break-word; /* Permettre le retour à la ligne pour les mots longs */
    }
    .styled-table th {
        font-size: 14px;
    }
    .styled-table td {
        font-size: 12px;
    }
}

/* Ajout de styles spécifiques pour les moyennes tailles d'écran */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .styled-table th,
    .styled-table td {
        padding: 7px;
    }
}

.fade-in {
    animation: slideIn ease 0.6s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out {
    animation: slideOn ease 0.5s;
}

@keyframes slideOn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.supprimer {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.supprimer:hover {
    background-color: #c82333;
}
