*, ::after, ::before{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.section-1, .section-2 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

p {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
button {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

th:first-child, td:first-child {
    border-left: 1px solid #ddd;
}

th:last-child, td:last-child {
    border-right: 1px solid #ddd;
}

.delete {
    width: 100%;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    
}

.delete:hover {
    background-color: #c82333;
}


@keyframes anime {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ligne-tab.ajout {
    animation: anime 0.5s ease forwards;
}





/* Affichage sur les tablettes */
@media screen and (max-width: 768px) {
    .container {
    display: block;
    }
    .section-2{
        margin-top: 10px;
    }
    th, td{
        text-align: center;

    }
}

/* Affichage sur les mobiles */
@media screen and (max-width: 576px){
    table {
        width: 100%;
        border-collapse: collapse;
    }
}

/* Affichage sur les petits mobiles */
@media screen and (min-width: 320px){
    table th, table td {
        padding: 5px; 
        font-size: 12px;
    }
}

